{% extends 'base.html' %}
{% block title %}Dashboard | Sistema Contable{% endblock %}
{% block content %}
<h1 class="mb-4 text-light fw-semibold">Bienvenido, {{ usuario.get_full_name|default:usuario.username }}</h1>
<div class="card-grid">
    <div class="card">
        <h3>Plan de Cuentas</h3>
        <p>Estructura de cuentas contables.</p>
        <a class="btn mt-2 btn-primary" href="{% url 'plancuentas:lista_cuentas' %}">Abrir</a>
    </div>

    <div class="card">
        <h3>Comprobantes</h3>
        <p>Gestion de comprobantes.</p>
        <a class="btn mt-2 btn-primary" href="{% url 'comprobantes:lista_comprobantes' %}">Abrir</a>
    </div>
    
    <div class="card">
        <h3>Perfil</h3>
        <p>Actualice sus datos y contraseña.</p>
        <a class="btn mt-2 btn-primary" href="{% url 'usuario:perfil_usuario' %}">Abrir</a>
    </div>
    <div class="card">
        <h3>Salir</h3>
        <p>Cerrar sesión de forma segura.</p>
        <a class="btn btn-secondary mt-2" href="{% url 'usuario:logout' %}">Cerrar sesión</a>
    </div>
    
    {% block dashboard_extra %}{% endblock %}

    
</div>
{% endblock %}
