{% extends 'base.html' %}
{% block title %}Crear Comprobante{% endblock %}
{% block content %}
<h1 class="mb-4">Crear comprobante</h1>
<form method="post">{% csrf_token %}
  {{ form.as_p }}
  <h3>Detalle</h3>
  {{ detalles_formset.management_form }}
  {% for f in detalles_formset %}
    <div class="card mb-2">{{ f.as_p }}</div>
  {% endfor %}
  <button class="btn" type="submit">Guardar</button>
  <a class="btn btn-secondary" href="{% url 'comprobantes:lista_comprobantes' %}">Cancelar</a>
</form>
{% endblock %}

