{% extends 'base.html' %}
{% block title %}Comprobantes{% endblock %}
{% block content %}
{% load custom_filters %}
<h1 class="mb-4 text-light fw-semibold text-center">Lista de Comprobantes</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-success me-md-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Imprimir</button>
    <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#InsertarComprobante" aria-controls="offcanvasTop">insertar</button>
    <button class="btn btn-success me-md-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#CrearComprobante" aria-controls="offcanvasTop">nuevo</button>
</div>

<div class="offcanvas offcanvas-top gradient-bg-comprobante" tabindex="-1" id="CrearComprobante" aria-labelledby="offcanvasTopLabel" style="height: 80vh;">
  <div class="offcanvas-header">
    <h1>Crea un Comprobante</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form class="row g-3" method="post">
        {% csrf_token %}
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="{{ formCreate.tipo.id_for_label }}" class="col-form-label">Tipo de Comprobante</label>
            </div>
            <div class="col-auto">
                {{ formCreate.tipo }}
            </div>
            <div class="col-auto">
                <label for="id_fecha" class="col-form-label">Fecha</label>
            </div>
            <div class="col-auto">
                <input type="date" name="fecha" id="id_fecha" class="form-control" onchange="obtenerUfv()">
            </div>
        </div>
        <div class="col-md-6">
            <label for="{{ formCreate.glosa.id_for_label }}" class="form-label">Glosa</label>
            {{ formCreate.glosa }}
        </div>
        <div class="col-md-6">
            <label for="{{ formCreate.beneficiario.id_for_label }}" class="form-label">Beneficiario</label>
            {{ formCreate.beneficiario }}
        </div>
        <div class="mt-4">
            <label class="form-label fw-bold">Agregar firmas responsables</label>
            <div class="input-group mb-2">
                <select id="select-firma" class="form-select">
                <option value="">Seleccione una firma...</option>
                {% for f in firmas %}
                    <option value="{{ f.id }}">{{ f.nombre }} - {{ f.cargo }}</option>
                {% endfor %}
                </select>
                <button type="button" class="btn btn-success" onclick="agregarFirma()">Agregar</button>
            </div>
        </div>
        <ul id="lista-firmas" class="list-group mb-3"></ul>
        <div class="mt-4">
            <label class="form-label fw-bold">Agregar Cuenta Auxiliar</label>

            <div class="row g-2 align-items-end">
                <!-- Selección de la cuenta -->
                <div class="col-md-4">
                <label for="select-cuenta" class="form-label">Cuenta</label>
                <select id="select-cuenta" class="form-select">
                    <option value="">Seleccione una Cuenta...</option>
                    {% for c in cuentas %}
                    <option value="{{ c.id }}">{{ c.cuentamayor }} - {{ c.nombre }}</option>
                    {% endfor %}
                </select>
                </div>

                <!-- Debe -->
                <div class="col-md-3">
                <label for="{{ formCuenta.debe.id_for_label }}" class="form-label">Debe</label>
                {{ formCuenta.debe }}
                </div>

                <!-- Haber -->
                <div class="col-md-3">
                <label for="{{ formCuenta.haber.id_for_label }}" class="form-label">Haber</label>
                {{ formCuenta.haber }}
                </div>

                <!-- Botón Agregar -->
                <div class="col-md-2 d-grid">
                <button type="button" class="btn btn-success" onclick="agregarCuenta()">Agregar</button>
                </div>
            </div>
        </div>
        <ul id="lista-cuentas" class="list-group mb-3"></ul>

        <div class="col-md-12">
            <label for="{{ formCreate.imagen.id_for_label }}" class="form-label">Glosa</label>
            {{ formCreate.imagen }}
        </div>
        
        <div class="col-md-4">
            <label for="inputUfv" class="form-label">UFV</label>
            <input type="number" name="inputUfv" id="inputUfv" step="0.000001" readonly class="form-control">
        </div>
        <div class="col-md-2">
            <label for="tipo-cambio" class="form-label">T. Cambio</label>
            <input type="text" name="tipo-cambio" class="form-control" id="tipo-cambio" readonly>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Crear Comprobante</button>
        </div>
    </form>
  </div>
</div>

<div class="offcanvas offcanvas-top " tabindex="-1" id="InsertarComprobante" aria-labelledby="offcanvasTopLabel" style="height: 80vh;">
  <div class="offcanvas-header">
    <h1>Crea un Comprobante</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form class="row g-3" method="post">
        {% csrf_token %}
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="numeroC">Numero de Comproante</label>
            </div>
            <div class="col-auto">
                {{ formCreate.numero }}
            </div>
            <div class="col-auto">
                <label for="{{ formCreate.tipo.id_for_label }}" class="col-form-label">Tipo de Comprobante</label>
            </div>
            <div class="col-auto">
                {{ formCreate.tipo }}
            </div>
            <div class="col-auto">
                <label for="id_fecha" class="col-form-label">Fecha</label>
            </div>
            <div class="col-auto">
                <input type="date" name="fecha" id="id_fecha" class="form-control" onchange="obtenerUfv()">
            </div>
        </div>
        <div class="col-md-6">
            <label for="{{ formCreate.glosa.id_for_label }}" class="form-label">Glosa</label>
            {{ formCreate.glosa }}
        </div>
        <div class="col-md-6">
            <label for="{{ formCreate.beneficiario.id_for_label }}" class="form-label">Beneficiario</label>
            {{ formCreate.beneficiario }}
        </div>
        <div class="mt-4">
            <label class="form-label fw-bold">Agregar firmas responsables</label>
            <div class="input-group mb-2">
                <select id="select-firma" class="form-select">
                <option value="">Seleccione una firma...</option>
                {% for f in firmas %}
                    <option value="{{ f.id }}">{{ f.nombre }} - {{ f.cargo }}</option>
                {% endfor %}
                </select>
                <button type="button" class="btn btn-success" onclick="agregarFirma()">Agregar</button>
            </div>
        </div>
        <ul id="lista-firmas" class="list-group mb-3"></ul>
        <div class="mt-4">
            <label class="form-label fw-bold">Agregar Cuenta Auxiliar</label>

            <div class="row g-2 align-items-end">
                <!-- Selección de la cuenta -->
                <div class="col-md-4">
                <label for="select-cuenta" class="form-label">Cuenta</label>
                <select id="select-cuenta" class="form-select">
                    <option value="">Seleccione una Cuenta...</option>
                    {% for c in cuentas %}
                    <option value="{{ c.id }}">{{ c.cuentamayor }} - {{ c.nombre }}</option>
                    {% endfor %}
                </select>
                </div>

                <!-- Debe -->
                <div class="col-md-3">
                <label for="{{ formCuenta.debe.id_for_label }}" class="form-label">Debe</label>
                {{ formCuenta.debe }}
                </div>

                <!-- Haber -->
                <div class="col-md-3">
                <label for="{{ formCuenta.haber.id_for_label }}" class="form-label">Haber</label>
                {{ formCuenta.haber }}
                </div>

                <!-- Botón Agregar -->
                <div class="col-md-2 d-grid">
                <button type="button" class="btn btn-success" onclick="agregarCuenta()">Agregar</button>
                </div>
            </div>
        </div>
        <ul id="lista-cuentas" class="list-group mb-3"></ul>

        <div class="col-md-12">
            <label for="{{ formCreate.imagen.id_for_label }}" class="form-label">Glosa</label>
            {{ formCreate.imagen }}
        </div>
        
        <div class="col-md-4">
            <label for="inputUfv" class="form-label">UFV</label>
            <input type="number" name="inputUfv" id="inputUfv" step="0.000001" readonly class="form-control">
        </div>
        <div class="col-md-2">
            <label for="tipo-cambio" class="form-label">T. Cambio</label>
            <input type="text" name="tipo-cambio" class="form-control" id="tipo-cambio" readonly>
        </div>
        <div class="col-12">
            <a class="btn btn-primary" href="{% url 'comprobantes:insertar' %}"></a>
            <button type="submit" class="btn btn-primary">Crear Comprobante</button>
        </div>
    </form>
  </div>
</div>

<div class="d-flex fw-bold text-light bg-primary bg-gradient p-2 rounded-top mt-2">
    <div class="col-2">Código Cta.</div>
    <div class="col-7">Descripcion de la Cuenta</div>
    <div class="col-1">Debe</div>
    <div class="col-1">Haber</div>
    <div class="col-1 text-end">Dolares</div>
</div>
<div>
    {% for c in comprobantes %}
    {% with data|index:forloop.counter0 as diferencias %}
    <a href="{% url 'comprobantes:detalle_comprobante' c.id %}" class="text-decoration-none text-reset">
        <div class="mt-2 card d-flex bg-primary-subtle border-success-subtle shadow border-5" id="comprobante">
            <div class="card text-light bg-dark p-2">
                <div class="row">
                <div class="col-6">
                    <div>
                        <span class="me-3">Comprobante de ingreso Nro: {{ c.numero }}</span>
                    </div>
                    <div>
                        <span class="me-3">Beneficiario: {{ c.beneficiario }}</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <span  style="float: right;">fecha: {{ c.fecha }}</span>
                    </div>
                    <div class="row">
                        <span class="me-4" style="float: right;">T. Cambio: {{ c.tipocambio }}</span>
                    </div>
                </div>
                </div>
            
        </div>
        <div class="card bg-transparent">
            {% for cu in diferencias.cuentas %}
            <div class="row">
                <div class="col-9">
                    <span>{{ cu.codigo }}</span>
                    <span>{{ cu.nombre }}</span>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-4">{{ cu.debe }}</div>
                        <div class="col-4">{{ cu.haber }}</div>
                        <div class="col-4">{{ cu.diferencia }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <div class="card bg-transparent">
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-4">{{ c.total_debe }}</div>
                        <div class="col-4">{{ c.total_haber }}</div>
                        <div class="col-4">{{ c.total_diferencia }}</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </a>
    {% endwith %}
    {% endfor %}
</div>
<script>
  const listaFirmas = document.getElementById('lista-firmas');
  const selectFirma = document.getElementById('select-firma');
  const listaCuentas = document.getElementById('lista-cuentas');
  const selectCuenta = document.getElementById('select-cuenta');
  const debe = document.getElementById('id_debe');
  const haber = document.getElementById('id_haber');
  

  function agregarFirma() {
    const id = selectFirma.value;
    const texto = selectFirma.options[selectFirma.selectedIndex].text;

    if (!id) return;

    // Evitar duplicados
    if (document.querySelector(`#firma-${id}`)) return alert('Ya está agregada');

    // Crear elemento visual
    const li = document.createElement('li');
    li.className = 'list-group-item d-flex justify-content-between align-items-center';
    li.id = `firma-${id}`;
    li.innerHTML = `
      <span>${texto}</span>
      <input type="hidden" name="firmas[]" value="${id}">
      <button type="button" class="btn btn-sm btn-danger" onclick="this.parentElement.remove()">×</button>
    `;
    listaFirmas.appendChild(li);
  }

  function agregarCuenta() {
    const id = selectCuenta.value;
    const texto = selectCuenta.options[selectCuenta.selectedIndex].text;
    const db=debe.value;
    const hb=haber.value;

    if (!id) return;

    // Evitar duplicados
    if (document.querySelector(`#cuenta-${id}`)) {alert('Ya está agregada');return;}

    // Crear elemento visual con input hidden
    const li = document.createElement('li');
    li.className = 'list-group-item d-flex justify-content-between align-items-center';
    li.id = `cuenta-${id}`;
    li.innerHTML = `
        <span>${texto}</span>
        <span>${db}</span>
        <span>${hb}</span>
        <input type="hidden" name="cuentas[]" value="${id}">
        <input type="hidden" name="debe[]" value="${db}">
        <input type="hidden" name="haber[]" value="${hb}">
        <button type="button" class="btn btn-sm btn-danger" onclick="this.parentElement.remove()">×</button>
    `;
    listaCuentas.appendChild(li);
    }
</script>
{% endblock %}